* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#titulo {
	position: relative;
	left: 22%;
	top: 25px;
	display: inline-block;
	font-size: 60px;	
	font-family: 'Mali', cursive;
}

.hr {
	color: red;
	width: 800px;
	margin: 10px auto;
	background-color: red;
}

.camposActualizar {
	position: relative;
	left: 24%;
	top: 50px;
	margin-bottom: 20px;
	font-family: 'Nokora', serif;
}

input.camposActualizar, textarea {
	padding: 10px 20px;
	font-size: 25px;
}

#descripcion {
	resize: horizontal;
	font-family: 'Abel', sans-serif;
}

label.camposActualizar {
	margin: 10px;
	font-size: 45px;
}

#actualizarBtn{
	font-family: 'Lobster', cursive;
	background-color: rgba(238, 143, 123, 0.5);
}

#actualizarBtn:focus{
	outline-color: #ffffff;
}

#nombre{
	font-family: 'Arvo', serif;
}

#imagen {
	border: 1px solid #000;
}

#imagenLabel {
	font-size: 54px;
}