* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#h1 {
	width: 800px;
	position: relative;
	right: 0px; left: 0px; top:70px;
	margin: auto;
	font-size: 55px;
	color: #B91313;
	font-family: 'Fahkwang', sans-serif;
}

#h2 {
	width: 600px;
	margin: auto;
	font-size: 55px;
	font-family: 'Arvo', serif;
}

#img {
	margin-top: 20px;
	width: 200px;
	position: absolute;
	left: 27%;
}

#button {
	position: absolute;
	left: 55%;
	top: 70vh;
}

#button:hover button {
	cursor: pointer;
}

#button button {
	background-color: red;
	color: #fff;
	border: none;
	padding: 15px;
	font-size: 35px;
	width: 200px;
	outline: none;
	position: relative;
	left: -100px;
}