* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
}

.books {
	position: relative;
	left: 15%;
}

#titulo {
	margin: 30px;
	position: relative;
	left: 15%;
}