*{
	margin: 0;
	padding:0;
}

body {
	background-image: url(../../views/img/fondos-de-pantalla-abstractos-mancha-abstracta.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.macre h2{
	position: absolute;
	right: 220px;
	top: 55px;
	font-family: 'Alfa Slab One', cursive;
	font-size: 60px;
	background-color: #4CABA9;
	text-shadow: 4px 3px 4px #3B7C89;
	border-radius: 25px;
	width: 270px;
	padding-left: 15px;
}

.frase p{
	position: absolute;
	top: 200px;
	left: 40px;
	font-family: 'Merienda', cursive;
	font-size: 40px;
}

.frase cite{
	position: absolute;
	left: 250px;
	font-family: 'EB Garamond', serif;
	font-size: 30px;
}

h1{
	font-family: 'Righteous', cursive;
	font-size: 45px;
}

p{
	font-family: 'Maven Pro', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.login {
	width: 500px;
	height: 300px;
	padding: 70px 50px;
	margin: 100px 675px;
	background-color: rgba(26, 93, 92, 0.5);
	border-radius: 25px;
}

.login img{
	position:absolute;
	width: 150px;
	height: 300px;
	margin-left: 330px;
	top: 150px;
		
}

#loginBtn {
	width: 100px;
	height: 35px;
	font-family: 'Amaranth', sans-serif;
	font-weight: bold;
	background: #AFB3B3;
	border-radius: 5px;
	border: none;
	border-bottom: 5px solid #989898;
}

#loginBtn:active, #loginBtn:focus {
	border: none;
	outline: 0px;
}

.inputsLogin {
	background: transparent;
	border:none;
	border-bottom: solid #ffffff 1px;
	color: #ffffff;
	height: 20px;
	width: 200px;
	margin-bottom: 20px;
	padding: 5px;
	font-family: sans-serif;
}

.inputsLogin:focus {
	outline: 0px;
}

.login input::placeholder {
	color: #ffffff;
}

