*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body{
	background-color: #AE5D43;
}

.nav{
	border:2px solid #000000;
	margin-top:100px;
	width: 200px;
	height: 500px;
	
}

.libros li{
	margin-bottom: 50px;
	border: 1px solid #456433;

}

.nav  h2{ 
	padding-left: 60px;
	font-family: 'Quicksand', sans-serif; 
	
}