*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.nav{
	background-color: rgba(171, 25, 69, 0.9);
	padding-left: 20px ;
	height: 57px;

}

.nav li{
	margin-left: 30px;
	margin-top: 10px;
	float: right;	
}

.nav a{
	font-family: 'Noto Serif JP', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color:#fff;
}

a:focus{
	color:#fff;
	text-decoration: none;
}
img{
	width:60px;
	height: 50px;
	margin-top: 3px;
	margin-left: 8px;
}

/* Barra de búsqueda */
.searchbar {
	display: inline-block;
	position: relative;
	left: 50%;
	margin: 3px 200px;
}

.searchbar #search {
	position: absolute;
	left: 5px;
	top:3px;
	height: 46px;
	border-width: 0px;
	border-top: 1px inset grey;
	border-left: 1px inset grey;
	border-bottom: 1px inset grey;
	border-radius: 5px 0px 0px 5px;
	padding: 6px;
	background-color: #ffffff;
}

.searchbar #search:focus {
	outline: none;
}

.searchbar #search li {
	margin: 5px;
}

.searchbar #bar {
	margin-left: 44px;
	margin-top: 3px;
	border-top: 1px inset grey;
	border-bottom: 1px inset grey;
	border-right: 1px inset grey;
	border-left: none;
	border-radius: 0px 5px 5px 0px;
	padding: 10px;
	width: 80%;

}

.searchbar #bar:focus {
	outline: none;
}

/* fin barra de búsqueda */

/* Categorias */
#categorias {
	padding: 20px 30px;
	border:3px double #FF7343;
	height: 105%;
	display: inline-block;
	position: absolute;
	top: 100px;
	left: 0px;
}

aside h3{
	font-family: 'Fjalla One', sans-serif;

}

span{
	font-family: 'Source Code Pro', monospace;
}


#down {
	display: inline-block;
	padding: 5px;
}

#libros li {
	margin-left: 20px;
}

#down:active .nomCat {
	display: none;
}

/* fin categorias*/

.letra h2{
	font-family: 'Acme', sans-serif;
	font-size: 50px;
}

.letra{
	margin-left: 300px;
	margin-top: 40px;
}

/*Comienzo de Cartas*/
.hola{
	position: relative;
	top:20px;
	left: 270px;
	margin-bottom: 10px;
}


.hola img{
	width: 150px;
	height: 80px;
	padding-left: 40px;
}