* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial;
}

ul {
	list-style: none;
}

a{
	color: #000000;
}

/* Nombre del libro */
#bookName {
	display: inline-block;
	margin-top: 20px;
	position: absolute;
	left: 35%;
	font-size: 55px;
}

/* fin nombre del libro */

/* Libros */
#leerlibro {
	text-align: justify;
	display: inline-block;
	width: 700px;
	height: 550px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 90px 10px 10px 23%;
	padding: 15px;
}

/* fin libros */

/* Valoraciones */

.rate {
	display: inline-block;
	position: absolute;
	margin: 5px 0px 10px 35px;
}

.rate .comentarios {
	height: 350px;
	overflow-y: scroll;
}

.rate h2 {
	margin-bottom: 10px;
}

.rate .foto {
	display: inline-block;
}

.rate .foto img {
	width: 30px;
	height: auto;
	display: inline-block;
}

.rate .comentarios .nomUsuario {
	display: inline-block;
	font-weight: bold;
}

.rate .texto {
	display: inline-block;
	font-size: 12px;
	vertical-align: top;
}

.rate .texto p{
	display: inline-block;
}