*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(../../views/imagenes/hola.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'PT Sans', sans-serif;
	font-size: 23px;
	text-shadow: 2px 2px 8px #000000;
	color: #000000;
}

.login2{
	position: absolute;
	top: 15%;
	left: 40%;	
	background-color: transparent;
	padding-top: 55px;
	width: 320px ;
	height: 420px;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 15px;
	text-align: center;
	border-style: double;
	border-width: 10px;
	border-color: #000000

}

h1{
	color: #ffffff;
 	font-family: 'Love Ya Like A Sister', cursive;
 	text-shadow: 2px 2px 4px #000000; 
 	font-size: 40px;
}

.login input{
	width: 80%;
	margin-bottom: 20px;
}

.login label {
	color: #000000;
	text-shadow: 2px 2px 2px #ffffff;	
}

.inputLogin{
	border:none;
	border-bottom: 1px solid #ffffff;
	background: transparent;
	height: 20px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	padding: 5px;
}

.inputLogin::placeholder {
	color: white;
	text-shadow: 2px 2px 2px #000000;
	text-align: center;
}

.inputLogin:focus {
	outline: none;
}

.login input[type="submit"]{
	border:none;
	outline: none;
	background: #4F6525;
	font-family: 'Courgette', cursive;
	font-weight: bold;
	height: 30px;
	width: 300px;
	color: #ffffff;
	font-size: 20px;
	border-radius: 20px;
}

a{
	text-decoration: none;
	border: 1px solid;
	color: #000000;
	background-color: #ABBD88;
	border-radius: 13px;
	height: 30px;
	font-size: 20px;
	padding: 5px;
	font-family: 'Comfortaa', cursive;
}

	





