.nav{
	background-color: rgba(171, 25, 69, 0.9);
	padding-left: 20px ;
	height: 57px;

}

.nav li{
	margin-left: 30px;
	margin-top: 10px;
	float: right;	
}

.nav a{
	font-family: 'Noto Serif JP', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color:#fff;
}

a:focus{
	color:#fff;
	text-decoration: none;
}

.nav img{
	width:60px;
	height: 50px;
	margin-top: 3px;
	margin-left: 8px;
}